<main class="container">
    <div class="header">
      <h1>Quotes</h1>
      <%= link_to "New quote",
                  new_quote_path,
                  data: { turbo_frame: "_top" },
                  class: "btn btn--primary bg-blue-600 text-white inline-block px-6 py-2.5" %>
    </div>

    <%= render @quotes %>
</main>